.customer {
    width: 100%s;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 30px;
    height: 50vh;
    .customer-content {
        height: 100%;
        margin-top: 30px;
        
        p {
            font-size: 20px;
            color: grey;
        }
        .mid {
            border-left: 1px solid rgba(82, 77, 77, 0.247) ;
            border-right: 1px solid rgba(82, 77, 77, 0.247) ;
            padding: 0 33%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .col {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}